 @font-face {font-family: 'wedding';src: url(weddingfont.ttf); }
       @font-face {font-family: 'subh';src: url(subh.ttf); }
        @font-face {font-family: 'swarak';src: url(swarak.ttf); }
         @font-face {font-family: 'shree';src: url(shree.ttf); }
         @font-face {font-family: 'bibah';src: url(bibah.ttf); }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: 'wedding';}
wrapper{
position: relative;
display: flex;
width: 100%;
height: 80vh;
overflow: hidden;
}

wrapper div{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: #0e2330;

}
wrapper div:nth-child(2){
background: #e91e63;
clip-path: circle(150px at center);

}

wrapper div h2{
position: absolute;
left: 0;
color: white;
font-size: 7em;
white-space: nowrap;
cursor: default;
line-height: 80vh;
animation: animate 60s linear infinite;

}
wrapper div:nth-child(2) h2{
-webkit-text-stroke: 1.5px;
-webkit-text-stroke-color: #fff;
color: transparent;
}

@keyframes animate{
0%{
transform: translateX(0);
}
100%{
transform: translateX(-100%);
}
}

.content{
    width: 100%;
    background: url(bg.jpg);
    
}
.header-content{
    left: 0px;
	right: 0px;
	transform: translate(-50% -50%);
	justify-content: center;
	align-items: center;
	margin: 0px;	
	display: flex;
}
.pari a{
    text-decoration: none;
}
.pari button{
	 width: 150px;
	 height: 40px;
	 background-color: white;
	 font-family: 'shree';
	 border: none;
	 border-radius: 40px 6px 40px 6px;
	 color: black;
	 font-weight: bold;
	 font-size: 20px;
     margin: 0 20px;
	

 }
 .pari button:hover{
	 color: white;
	 background-color: #0595F1;
	 width: 150px;
	 height: 40px;
	 border-radius: 40px ;
 }

.patri button{
	 width: 150px;
	 height: 40px;
	 background-color: white;
	 font-family: 'shree';
	 border: none;
	 border-radius: 6px 40px 6px 40px;
	 color: black;
	 font-weight: bold;
	 font-size: 20px;
	

 }
 .patri button:hover{
	 color: white;
	 background-color: #FB29E0;
	 width: 150px;
	 height: 40px;
	 border-radius: 40px;
 }
.modal{
	color: #4B0110;font-size: 20px;

}

.modal p{
	text-align: center;
}

.container{
left: 0px;
right: 0px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


hr{
    width: 110px;
    height: 2px;
    background: white;
    border: none;
}
 .countdown{
    
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    
}

.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
background: rgba(0,0,0,0.3);
border: 2px solid #818181;
border-radius: 50%;
border-right-style: solid;
  border-right-color: white;
border-left-style: solid;
  border-left-color: white;
color: yellow;
margin: 0 9px;
font-size: 2em;
 font-weight: 250; 
font-family: 'Bowlby One', cursive; 

}


.countdown div:before{
    content: '';
position: absolute;
bottom: -20px;
left: 0;
width: 100%;
height: 25px;
border: none;
background: linear-gradient(210deg,#F7FE03 ,#FCC0E1);
border-radius: 12px;
border-bottom-style: solid;
  border-bottom-color: #EBDEF0;font-family: 'shree';
color: #4E5002 ;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}

.subh{
    margin-bottom: 20px;
    margin-top: 10px;
    color: #FDE200;
}

.map{
   margin-bottom: 20px; 
}

.proja{
    text-align: center;
     margin-bottom: 20px;
     color: white;
}
#fontcss{
    margin-left: 10px;color: #FDE200;font-size: 20px
}

.bih{ 
      text-align: justify;
    text-indent: 25px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;color: #FDE200;font-size: 20px
}

.nibe{
    text-align: right;
    margin-right: 10px;color: #FDE200;font-size: 20px
}

footer{
    width: 100%;
    height: 90px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
    
    }

  footer p{
      text-align: center;
      padding: 10px;
      
  }  

  footer .call{
      width: 130px;
      height: 30px;
      border-radius: 45px;
}
